
$base00: #000000; //  ----
$base01: #303030; //  ---
$base02: #505050; //  --
$base03: #b0b0b0; //  -
$base04: #d0d0d0; //  +
$base05: #e0e0e0; //  ++
$base06: #f5f5f5; //  +++
$base07: #ffffff; //  ++++
$base08: #fb0120; //  red
$base09: #fc6d24; //  orange
$base0A: #fda331; //  yellow
$base0B: #a1c659; //  green
$base0C: #76c7b7; //  aqua
$base0D: #6fb3d2; //  blue
$base0E: #d381c3; //  purple
$base0F: #be643c; //  brown
$tiyprimary: #233139; //  Shield Grey
$white: #ffffff; //  White
